doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mademoiselle 
        link(rel="stylesheet", href="/public/styleFeed.css")
    body    
        div(class="navbar")

            div(class="navbar-logo")
                img(src="/public/logo.png")
        
        each postagem in postagens
            div(class="postagem")
                div(class="postagem-autor") #{postagem.autor}
                div(class="postagem-descricao") #{postagem.descricao}
