doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mademoiselle
        link(rel="stylesheet", href="/public/style.css")
    body    
        h1 Mademoiselle 

        hr

        form(action="/postar", method="POST")
            input(type="text", name="autor", placeholder="autor", max="32")
            textarea(name="descricao", placeholder= "Digite uma breve descricao")
            input(type="submit", value="postar")