doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mademoiselle
        link(rel="stylesheet", href="/public/styleIndex.css")
    body    

        div(class="navbar")

            div(class="navbar-logo")
                img(src="/public/logo.png")

            div(class="navbar-links")
                a(href="/") Home
                a(href="/feed") Feed 
                a(href="/post") Post 

